/**
 * A mixin that sets the font to elegant icons
 */
@mixin elegantIcons {
  background-color: transparent !important;
  font-family: 'ElegantIcons', Helvetica, sans-serif !important;
  font-weight: normal;
  font-style: normal;
}