/**
 * A mixin that sets the font to fantasque bold
 */
@mixin fantasque-bold {
    font: {
      family: 'Fantasque-Bold', Helvetica, sans-serif !important;
      weight: bold;
      style: normal;
  }
}