/*
 * Sass styling for the Button component
 * @author Andrew Jarombek
 * @since 4/4/2018
 */

@import "styles/mixins/sylexiads";
@import "styles/mixins/longway";
@import "./styles/variables";

.jarbek-button {
  border-radius: 4px;
  margin: 4px 2px 4px 2px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.jarbek-button-font-sylexiad {
  @include sylexiad;
}

.jarbek-button-font-longway {
  @include longway;
}

.jarbek-button-long {
  height: 50px;
  width: 450px;
  border: 1.5px solid;
  font-size: 24px;
}

.jarbek-button-xl {
  height: 70px;
  width: 240px;
  border: 1.5px solid;
  font-size: 28px;
}

.jarbek-button-large {
  height: 50px;
  width: 180px;
  border: 1.5px solid;
  font-size: 24px;
}

.jarbek-button-medium {
  height: 40px;
  width: 150px;
  border: 1.5px solid;
  font-size: 18px;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
    height: 35px;
    width: 120px;
  }
}

.jarbek-button-small {
  height: 30px;
  width: 120px;
  border: 1px solid;
  font-size: 16px;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 12px;
    height: 25px;
    width: 100px;
  }
}

.jarbek-button-box-large {
  height: 50px;
  width: 60px;
  border: 1.5px solid;
  font-size: 24px;
}

@mixin jarbek-button-styles($color-style, $color) {
  .jarbek-button.#{$color-style} {
    color: darken($color, 40%);
    transition: background .4s, box-shadow .4s;

    &:hover {
      background: $color;
      box-shadow: 0 1px 5px #aaa;
    }
  }
}

@mixin jarbek-button-dark-styles($color-style, $color, $text-color, $text-hover-color) {
  .jarbek-button.#{$color-style} {
    @media (prefers-color-scheme: dark) {
      color: $text-color;
    }

    &:hover {
      @media (prefers-color-scheme: dark) {
        background: $color;
        box-shadow: 0 1px 5px #333;
        color: $text-hover-color;
      }
    }
  }
}

@include jarbek-button-styles("active-color-default", $color-default);
@include jarbek-button-styles("active-color-primary", darken($color-primary, 20%));
@include jarbek-button-styles("active-color-secondary", darken($color-secondary, 20%));

@include jarbek-button-dark-styles("active-dark-color-default", transparent, white, white);
@include jarbek-button-dark-styles("active-dark-color-primary", darken($color-primary, 20%), white, black);
@include jarbek-button-dark-styles("active-dark-color-secondary", darken($color-secondary, 20%), white, black);

.passive-color-default {
  background: transparent;
}

.passive-color-white {
  background: white;
}

.passive-color-primary {
  background: darken($color-primary, 20%);
}

.passive-dark-color-default {
  @media (prefers-color-scheme: dark) {
    background: transparent;
  }
}

.border-color-default {
  border-color: $color-default;
}

.border-color-primary {
  border-color: darken($color-primary, 20%);
}

.border-color-secondary {
  border-color: darken($color-secondary, 20%);
}

.border-color-none {
  border-color: transparent;
}