$color-default: #aaa;
$color-primary: #96f1ff;
$color-secondary: #87ffdf;
$color-invalid: #ffa496;

$width-mobile-small: 500px;
$width-mobile: 700px;
$width-small-desktop: 980px;
$width-large-desktop: 1300px;