/**
 * Sass styling for the App component
 * @author Andrew Jarombek
 * @since 3/22/2018
 */

@import "global";

body {
  background-color: white;
}

p {
  font-weight: bold;
  color: gray;
  @include sylexiad-bold;
}

.title-container {
  height: 160px;
  padding-top: 5px;
}

.title {
  color: #333;
  font-size: 28px;
  text-align: center;
  margin: 5% auto;
  @include transition("color", #000, $speed: ease-in-out);
}

.sub-title {
  @include sylexiad;
  font-size: 16px;
  text-align: center;
}