/*
 * Sass styling for the content of a blog post
 * @author Andrew Jarombek
 * @since 8/2/2018
 */

@import "./styles/variables";
@import "./styles/mixins/sylexiads";
@import "./styles/mixins/fantasque";

$inline-gray: rgba(204, 204, 204, 0.25);

.link-style {
  @include sylexiad-bold;
  color: #999;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: $color-secondary;
  }

  &:hover {
    text-decoration: underline;
  }
}

.jarbek-blog-content {
  @include sylexiad;

  h5, p {
    color: #333;
    letter-spacing: 0.7px;
    word-wrap: break-word;

    @media (prefers-color-scheme: dark) {
      color: $color-dark-default;
    }
  }

  p {
    font-size: 24px;
    line-height: 1.5;

    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 20px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 18px;
    }
  }

  h5 {
    @include sylexiad;

    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 30px;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 32px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 28px;
    }
  }

  h6 {
    font-size: 32px;
    @include fantasque-bold;
    margin-top: 5px;
    margin-bottom: 30px;
    color: #333;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 28px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 24px;
    }
  }

  a {
    @extend .link-style;
  }

  sup {
    @include sylexiad-bold;
    color: #999;
    vertical-align: super;
    font-size: 16px;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 14px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 12px;
    }
  }

  span.code-span {
    white-space: pre;
    @include fantasque-bold;
    font-size: 14px;
    word-wrap: break-word;

    width: 100%;
    display: block;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 20px;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 12px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 10px;
    }
  }

  strong {
    @include sylexiad-bold;
  }

  .jarombek-blog-image {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  code.jarombek-inline-code {
    @include fantasque-bold;
    font-size: 20px;
    color: darken($color-secondary, 40%);
    border-radius: 3px;

    padding: 5px 4px 5px 4px;

    margin-right: 2px;
    margin-left: 2px;

    background: $inline-gray;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 16px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 14px;
    }
  }

  code.jarombek-header-code {
    @include fantasque-bold;
    font-size: 32px;
    color: #333;
  }

  ul, ol {
    background-color: #87ffdf33;
    border-radius: 8px;
    padding: 25px;

    margin-bottom: 20px;
    margin-top: 20px;

    li {
      font-size: 20px;
      padding: 10px 0;

      code.jarombek-inline-code {
        font-size: 16px;
        padding: 3px;
      }
    }
  }

  ul {
    li {
      list-style-type: square;
      margin: 0 10px;
    }
  }

  ol {
    li {
      list-style-type: upper-roman;
      margin: 0 20px;
    }
  }
}