/*
 * Sass styling for the BlogPost component
 * @author Andrew Jarombek
 * @since 4/8/2018
 */

@import "styles/mixins/sylexiads";
@import "./styles/mixins/transition";
@import "./styles/variables";
@import "blogContent";

$post-margin: 0.5px;

.jarombek-blog-post {
  background-color: white;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.1);
  margin: {
    left: $post-margin;
    right: $post-margin;
    bottom: 40px;
  }

  display: grid;
  grid-template-columns: [type] 15% [title-start] 70% [title-end] 15% [date];
  grid-template-rows: [headers] 5% [title] 10% [tags] 10% [body] 65% [sources] 10% [end];

  // For small desktop screens, reduce the padding on the side of the post contents in half
  @media screen and (max-width: $width-small-desktop) and (min-width: $width-mobile + 1) {
    grid-template-columns: [type] 7.5% [title-start] 85% [title-end] 7.5% [date];
  }

  // For mobile screens, make the padding on the side of posts nearly non-existent
  @media screen and (max-width: $width-mobile) {
    grid-template-columns: [type] 2% [title-start] 96% [title-end] 2% [date];
  }
}

// Shared styles for all the headers of a blog post
@each $header in 'type', 'date' {
  .jarombek-blog-#{$header} {
    @include sylexiad;
    color: #999;
    font-size: 18px;
    padding-top: 20px;

    justify-self: center;
    align-self: center;
    text-align: center;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      font-size: 16px;
      padding-top: 15px;
    }

    @media screen and (max-width: $width-mobile-small) {
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.jarombek-blog-headers {
  // Goes in this order: row-start, column-start, row-end, column-end
  grid-area: headers / type / title / date;

  display: grid;
  grid-template-columns: [type] 25% [title-start] 50% [title-end] 25% [date];
  grid-template-rows: [top] 100% [bottom];
}

.jarombek-blog-type {
  grid-area: top / type / bottom / title-start;
}

.jarombek-blog-date {
  grid-area: top / title-end / bottom / date;
}

.jarombek-blog-title {
  padding-top: 35px;
  padding-bottom: 50px;
  text-decoration: none;

  cursor: pointer;

  grid-area: title / title-start / tags / title-end;
  justify-self: center;
  align-self: center;
}

.jarombek-blog-title-content {
  @include sylexiad;
  color: #333;
  font-size: 48px;
  text-align: center;

  @include transition(color, #111);

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 36px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 32px;
  }
}

.jarombek-blog-tags {
  grid-area: tags / title-start / body / title-end;
  padding-bottom: 20px;
}

.jarombek-blog-content {
  @extend .jarbek-blog-content;
  grid-area: body / title-start / sources / title-end;
  padding-bottom: 20px;
}

.jarombek-blog-sources {
  grid-area: sources / title-start / end / title-end;
  padding-top: 20px;
  padding-bottom: 40px;
}

.jarombek-blog-source {
  @include sylexiad;
  font-size: 18px;
  line-height: 1.5;
  word-wrap: break-word;

  a {
    @extend .link-style;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 16px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
  }
}