/*
 * Sass styling for the BlogPreview component
 * @author Andrew Jarombek
 * @since 8/2/2018
 */

@import "./styles/variables";
@import "styles/mixins/sylexiads";
@import "./styles/mixins/transition";
@import "blogContent";

/* Variables for magic numbers */
$blog-preview-grid-desktop: 1fr 8fr 1fr;
$blog-preview-grid-mobile-large: 1fr 13fr 1fr;
$blog-preview-grid-mobile-small: 1fr 28fr 1fr;

.jarombek-blog-preview {
  background-color: white;
  box-shadow: $box-shadow;
  border: 1px solid transparent;
  @include transition(box-shadow, 0 1px 4px darken(rgba(48, 227, 225, 0.8), 10%));
  @include transition(border, 1px solid darken(rgba(48, 227, 225, 0.8), 10%));
  border-radius: 2px;
}

@supports (grid-area: auto) {
  .jarombek-blog-preview {
    display: grid;
    grid-template-columns: $blog-preview-grid-desktop;
    grid-template-areas:
           "header  header  header "
           "  .     title     .    "
           "tags    tags    tags   "
           "content content content"
           "  .     footer    .    ";

    // For small desktop screens, reduce the padding on the side of the post contents in half
    @media screen and (max-width: $width-small-desktop) and (min-width: $width-mobile + 1) {
      grid-template-columns: $blog-preview-grid-mobile-large;
    }

    // For mobile screens, make the padding on the side of posts nearly non-existent
    @media screen and (max-width: $width-mobile) {
      grid-template-columns: $blog-preview-grid-mobile-small;
    }
  }
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview {
    margin-bottom: 20px;
  }
}

@supports (grid-area: auto) {
  .jarombek-blog-preview-headers {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "header-type header-date";
  }
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-headers {
    display: table;
    height: 45px;
    width: 100%;
  }
}

@each $header in 'type', 'date' {
  .jarombek-blog-preview-#{$header} {
    @include sylexiad;
    color: #999;
    font-size: 16px;
    padding-top: 10px;
    margin: 10px;

    align-self: center;
    text-align: center;

    @media screen and (max-width: $width-mobile-small) {
      font-size: 12px;
    }
  }
}

@supports (grid-area: auto) {
  .jarombek-blog-preview-type {
    grid-area: header-type;
    justify-self: start;
  }
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-type {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    height: 100%;
    width: 50%;
  }
}

@supports (grid-area: auto) {
  .jarombek-blog-preview-date {
    grid-area: header-date;
    justify-self: end;
  }
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-date {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    text-align: right;
    height: 100%;
    width: 50%;
  }
}

@each $field in 'title', 'tags', 'content', 'footer' {
  @supports (grid-area: auto) {
    .jarombek-blog-preview-#{$field} {
      grid-area: #{$field};
      justify-self: center;
      align-self: center;
    }
  }
}

.jarombek-blog-preview-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}

.jarombek-blog-preview-title-p {
  @include sylexiad;
  @include transition(color, #111);
  color: #555;
  font-size: 28px;
  text-align: center;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 24px;
  }
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-title-p {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

.jarombek-blog-preview-tags {
  margin: 5px;
  font-size: 18px;
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-tags {
    display: table;
    margin: 0 auto;
  }
}

.jarombek-blog-preview-content {
  @extend .jarbek-blog-content;
  margin: 15px;
  height: 260px;
  overflow: hidden;
  position: relative;
}

.jarombek-blog-preview-content:after {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 200px;
  z-index: 1;
  content: "";
  bottom: 0;
  left: 0;
}

.jarombek-blog-preview-content p {
  font-size: 20px !important;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 16px !important;
  }
}

.jarombek-blog-preview-content p code {
  font-size: 20px !important;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 16px !important;
  }
}

.jarombek-blog-preview-content h5 {
  font-size: 24px !important;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 20px !important;
  }
}

.jarombek-blog-preview-footer {
  margin-bottom: 10px;
}

@supports not (grid-area: auto) {
  .jarombek-blog-preview-footer {
    text-decoration: none;
  }

  .jarombek-blog-preview-footer button {
    margin: 20px auto;
    display: block;
  }
}