/*
 * Sass styling for the BlogPost component
 * @author Andrew Jarombek
 * @since 4/8/2018
 */

@import "global";

$post-margin: 0.5px;

$inline-gray: rgba(204, 204, 204, 0.25);

.link-style {
  @include sylexiad-bold;
  color: #999;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.jarombek-blog-post {
  background-color: white;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.1);
  margin: {
    left: $post-margin;
    right: $post-margin;
    bottom: 40px;
  }

  display: grid;
  grid-template-columns: [type] 15% [title-start] 70% [title-end] 15% [date];
  grid-template-rows: [headers] 5% [title] 10% [tags] 10% [body] 65% [sources] 10% [end];
}

// Shared styles for all the headers of a blog post
@each $header in 'type', 'date' {
  .jarombek-blog-#{$header} {
    @include sylexiad;
    color: #999;
    font-size: 18px;
    padding-top: 20px;

    justify-self: center;
    align-self: center;
    text-align: center;
  }
}

.jarombek-blog-type {
  // Goes in this order: row-start, column-start, row-end, column-end
  grid-area: headers / type / title / title-start;
}

.jarombek-blog-date {
  grid-area: headers / title-end / title / date;
}

.jarombek-blog-title {
  padding-top: 35px;
  padding-bottom: 50px;
  text-decoration: none;

  cursor: pointer;

  grid-area: title / title-start / tags / title-end;
  justify-self: center;
  align-self: center;
}

.jarombek-blog-title-content {
  @include sylexiad;
  color: #333;
  font-size: 48px;

  text-align: center;

  @include transition(color, #111);
}

.jarombek-blog-tags {
  grid-area: tags / title-start / body / title-end;
  padding-bottom: 20px;
}

.jarombek-blog-content {
  grid-area: body / title-start / sources / title-end;
  padding-bottom: 20px;

  @include sylexiad;

  h5, p {
    color: #333;
    letter-spacing: 0.7px;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  p {
    font-size: 24px;
    line-height: 1.5;
  }

  h5 {
    font-size: 36px;
  }

  a {
    @extend .link-style;
  }

  sup {
    @include sylexiad-bold;
    color: #999;
    vertical-align: super;
    font-size: 16px;
  }

  span {
    white-space: pre;
    @include fantasque-bold;
  }

  strong {
    @include sylexiad-bold;
  }

  .jarombek-blog-image {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  code.jarombek-inline-code {
    @include fantasque-bold;
    font-size: 20px;
    color: darken($color-secondary, 40%);
    border-radius: 3px;

    padding: 5px 4px 5px 4px;

    margin-right: 2px;
    margin-left: 2px;

    background: $inline-gray;
  }
}

.jarombek-blog-sources {
  grid-area: sources / title-start / end / title-end;
  padding-top: 20px;
  padding-bottom: 40px;
}

.jarombek-blog-source {
  @include sylexiad;
  font-size: 18px;
  line-height: 1.5;

  a {
    @extend .link-style;
  }
}