/*
 * Sass styling for the BlogList component
 * @author Andrew Jarombek
 * @since 4/8/2018
 */

@import "./styles/variables";

$blog-list-small: $width-mobile + 200;
$blog-list-medium: $width-mobile + 500;
$blog-list-large: $width-small-desktop + 1200;

.jarombek-blog-list {
  padding-top: 100px;
  padding-bottom: 60px;

  @media screen and (max-width: $width-mobile-small) {
    padding-top: 85px;
  }
}

@supports (grid-area: auto) {
  .jarombek-blog-list {
    display: grid;
    grid-template-areas: "search"
                         "posts";
    grid-gap: 20px;
  }
}

@media screen and (min-width:0\0) {
  .jarombek-blog-list {
    display: -ms-grid;
    -ms-grid-columns: auto;
    -ms-grid-rows: auto auto;
  }
}

.jarombek-blog-list-search {
  margin-left: 100px;

  @media screen and (max-width: $blog-list-large) and (min-width: $blog-list-medium + 1) {
    margin-left: 80px;
  }

  @media screen and (max-width: $blog-list-medium) and (min-width: $blog-list-small + 1) {
    margin-left: 50px;
  }

  @media screen and (max-width: $blog-list-small) {
    margin-left: 0;
  }
}

@supports (grid-area: auto) {
  .jarombek-blog-list-search {
    grid-area: search;
    justify-self: start;
    align-self: center;

    @media screen and (max-width: $blog-list-small) {
      justify-self: normal;
    }
  }
}

@media screen and (min-width:0\0) {
  .jarombek-blog-list-search {
    -ms-grid-column: 1;
    -ms-grid-row: 1;

    -ms-grid-row-align: start;
    -ms-grid-column-align: center;

    @media screen and (max-width: $blog-list-small) {
      -ms-grid-row-align: stretch;
    }
  }
}

.jarombek-blog-list-search > div {
  background-color: white;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.5);
}

.jarombek-posts-grid {
  margin: 10px 100px 10px 100px;

  // For small desktop screens
  @media screen and (max-width: $blog-list-large) and (min-width: $blog-list-medium + 1) {
    margin: 10px 80px 10px 80px;
  }

  @media screen and (max-width: $blog-list-medium) and (min-width: $blog-list-small + 1) {
    margin: 10px 50px 10px 50px;
  }

  // For mobile screens
  @media screen and (max-width: $blog-list-small) {
    margin: 10px;
  }
}

@supports (grid-area: auto) {
  .jarombek-posts-grid {
    grid-area: posts;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media screen and (max-width: $blog-list-large) and (min-width: $blog-list-medium + 1) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    @media screen and (max-width: $blog-list-medium) and (min-width: $blog-list-small + 1) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    @media screen and (max-width: $blog-list-small) {
      grid-template-columns: 1fr;
      grid-gap: 5px;
    }
  }
}

@media screen and (min-width:0\0) {
  .jarombek-posts-grid {
    -ms-grid-column: 1;
    -ms-grid-row: 2;

    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;

    @media screen and (max-width: $blog-list-large) and (min-width: $blog-list-medium + 1) {
      -ms-grid-columns: 1fr 1fr;
    }

    @media screen and (max-width: $blog-list-medium) and (min-width: $blog-list-small + 1) {
      -ms-grid-columns: 1fr;
    }

    @media screen and (max-width: $blog-list-small) {
      -ms-grid-columns: 1fr;
    }
  }
}

.jarombek-blog-list-none {
  height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
}

@supports (grid-area: auto) {
  .jarombek-blog-list-none {
    grid-area: posts;
  }
}

@media screen and (min-width:0\0) {
  .jarombek-blog-list-none {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
}

.jarombek-blog-list-footer {
  width: 400px;
  margin: 0 auto;
  padding: 80px 0 40px 0;

  @media screen and (max-width: $width-mobile-small) {
    width: 100%;
  }
}