/*
 * Sass styling for the Button component
 * @author Andrew Jarombek
 * @since 4/4/2018
 */

@import "styles/mixins/sylexiads";
@import "./styles/variables";

.jarbek-button {
  border-radius: 4px;
  margin: 4px 2px 4px 2px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  @include sylexiad;
}

.jarbek-button-long {
  height: 50px;
  width: 450px;
  border: 1.5px solid;
  font-size: 24px;
}

.jarbek-button-xl {
  height: 70px;
  width: 240px;
  border: 1.5px solid;
  font-size: 28px;
}

.jarbek-button-large {
  height: 50px;
  width: 180px;
  border: 1.5px solid;
  font-size: 24px;
}

.jarbek-button-medium {
  height: 40px;
  width: 150px;
  border: 1.5px solid;
  font-size: 18px;
}

.jarbek-button-small {
  height: 30px;
  width: 120px;
  border: 1px solid;
  font-size: 16px;
}

@mixin jarbek-button-styles($color-style, $color) {
  .jarbek-button.#{$color-style} {
    border-color: $color;
    color: darken($color, 40%);
    transition: background .4s, box-shadow .4s;

    &:hover {
      background: $color;
      box-shadow: 0 1px 5px #aaa;
    }
  }
}

@include jarbek-button-styles("active-color-default", $color-default);
@include jarbek-button-styles("active-color-primary", darken($color-primary, 20%));
@include jarbek-button-styles("active-color-secondary", darken($color-secondary, 20%));

.passive-color-default {
  background: transparent;
}

.passive-color-white {
  background: white;
}