/*
 * Sass styling for the Button component
 * @author Andrew Jarombek
 * @since 4/4/2018
 */

@import "global";

.jarbek-button {
  border-radius: 4px;
  background: transparent;
  margin: 4px 2px 4px 2px;
  box-shadow: none;
  cursor: pointer;
  @include sylexiad;
}

.jarbek-button-large {
  height: 50px;
  width: 180px;
  border: 1.5px solid;
  font-size: 24px;
}

.jarbek-button-medium {
  // TODO
}

.jarbek-button-small {
  // TODO
}

@mixin jarbek-button-styles($color-style, $color) {
  .jarbek-button.#{$color-style} {
    border-color: $color;
    color: darken($color, 40%);
    transition: background .4s, box-shadow .4s;

    &:hover {
      background: $color;
      box-shadow: 0 1px 5px #aaa;
    }
  }
}

@include jarbek-button-styles("color-default", $color-default);
@include jarbek-button-styles("color-primary", darken($color-primary, 20%));
@include jarbek-button-styles("color-secondary", darken($color-secondary, 20%));