/*
 * Sass styling for the CodeSnippet component
 * Building off on Highlight.js style sheets
 * @author Andrew Jarombek
 * @since 4/10/2018
 */

@import "./styles/mixins/fantasque";

.jarombek-code-snippet {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.hljs {
  @include fantasque-bold;

  display: block;
  overflow-x: auto;
  padding: 16px 8px 16px 16px;
  color: #ddd;
  font-size: 18px;
  white-space: pre;
  line-height: 1.4;

  background-image: url("./assets/triangles.png");
  border-radius: 2px;

  transition: all .4s ease;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.1);

  // Fixes for Safari mobile - overflow-scrolling makes swiping through the source code
  // smooth.  Transition fixes a screen flicker bug when scrolling
  -webkit-overflow-scrolling: touch;
  -webkit-transition: revert;
}

.hljs:hover {
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.8);
}

.hljs:before {
  content: attr(title);
  display: block;
  font-size: 14px;
  color: #aaa;

  // Make the language identifier stick to the right side of the code snippet
  position: -webkit-sticky;
  position: sticky;

  left: 90%;
  float: right;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}