/**
 * Sass styling for the Home component
 * @author Andrew Jarombek
 * @since 3/22/2018
 */

@import "./styles/mixins/sylexiad";
@import "./styles/mixins/transition";

body {
  background-color: white;
}

.title {
  font-weight: bold;
  color: gray;
  @include sylexiad-bold;
}

.jarombek-main {
  display: grid;
  grid-template-columns: [start] 20% [middle-begin] 60% [middle-end] 20% [end];
  grid-template-rows: [top] 15% [title] 25% [subtitle] 15% [blog] 10% [info] 25% [footer] 10% [bottom];
}

.title-container {
  padding-top: 100px;
  grid-row-start: title;
  grid-row-end: subtitle;
}

.title {
  color: #333;
  font-size: 48px;
  text-align: center;
  margin: 5% auto;
  @include transition("color", #000, $speed: ease-in-out);

  justify-self: center;
  align-self: end;
}

.sub-title {
  @include sylexiad;
  font-size: 24px;
  margin-bottom: 40px;

  grid-row-start: subtitle;
  grid-row-end: blog;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.blog-button {
  grid-row-start: blog;
  grid-row-end: info;
  justify-self: center;
}

.info-button {
  grid-row-start: info;
  grid-row-end: footer;
  justify-self: center;
}

.footer-icon {
  margin-top: 200px;

  grid-row-start: footer;
  grid-row-end: end;
  align-self: end;
  justify-self: center;
}

@each $item in '.title-container', '.sub-title', '.blog-button', '.info-button', '.footer-icon' {
  #{$item} {
    grid-column-start: middle-begin;
    grid-column-end: middle-end;
  }
}

.footer-icon img {
  height: 60px;
}