/**
 * Sass styling for the Home component
 * @author Andrew Jarombek
 * @since 3/22/2018
 */

@import "./styles/variables";
@import "styles/mixins/sylexiads";
@import "./styles/mixins/transition";

body {
  background-color: white;
}

.jarbek-home {
  width: 100%;
  height: 98vh;
  min-height: 650px;

  background: url("https://asset.jarombek.com/jarombek-home-background.jpg")
                no-repeat center center fixed;
  background-size: cover;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    background: url("https://asset.jarombek.com/jarombek-home-background.jpg")
                no-repeat center center;
    background-size: cover;
    height: 85vh;
  }

  @media screen and (max-width: $width-mobile-small) {
    background: url("https://asset.jarombek.com/jarombek-home-background.jpg")
                no-repeat center center;
    background-size: cover;
    height: 80vh;
    min-height: 550px;
  }
}

.jarbek-home-main {
  height: 98vh;
  min-height: 650px;
  background: rgba(0, 0, 0, 0.65);

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    height: 85vh;
  }

  @media screen and (max-width: $width-mobile-small) {
    height: 70vh;
    min-height: 550px;
  }
}

.jarbek-home-main-overlay {
  height: 100%;
  position: relative;
}

.jarbek-home-title-container {
  padding-top: 150px;
  text-align: center;

  @media screen and (max-width: $width-mobile-small) {
    padding-top: 80px;
  }
}

.jarbek-home-title {
  @include sylexiad-bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 62px;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 48px;
  }
}

.jarbek-home-sub-title {
  @include sylexiad;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 50px;
  text-align: center;
  font-size: 36px;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 28px;
  }
}

.jarbek-home-blog-button {
  margin-top: 180px;
  text-decoration: none;
  display: inline-block;
  width: 100%;

  @media screen and (max-width: $width-mobile-small) {
    margin-top: 100px;
  }
}

.jarbek-home-blog-button div {
  width: 100%;
  display: inline-flex;
}

.jarbek-home-blog-button div button {
  margin: 0 auto;
}

.jarbek-home-arrow div {
  bottom: 5px;
  right: calc(50vw - 25px);
  position: absolute;
}

.jarbek-home-break {
  background-color: white;
  height: 280px;

  @media screen and (max-width: $width-mobile-small) {
    height: 180px;
  }
}

.jarbek-home-break p {
  @include sylexiad;
  text-align: center;
  font-size: 32px;
  color: #2a2a2a;

  height: 100%;
  display: grid;
  align-content: center;

  @media screen and (max-width: $width-mobile-small) {
    font-size: 28px;
  }
}

.jarbek-home-break p strong {
  @include sylexiad-bold;
}

.footer-icon {
  width: 60px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 30px;

  @media screen and (max-width: $width-mobile-small) {
    padding-top: 60px;
  }
}

.footer-icon img {
  height: 60px;
}