/*
 * Sass styling for the PictureButton component
 * @author Andrew Jarombek
 * @since 5/4/2018
 */

@import "global";

.jarbek-picture-button {
  display: grid;
  grid-template-rows: [top] 100% [bottom];
  grid-template-columns: [image] 50px [label] calc(100% - 50px) [end];
}

.jarbek-pb-picture {
  grid-area: top / image / bottom / label;
  justify-self: center;
  align-self: center;

  img {
    height: 20px;
    max-width: 65px;
    padding-top: 5px;
    padding-left: 10px;
  }
}

.jarbek-pb-text {
  grid-area: top / label / bottom / end;
  justify-self: center;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}