/**
 * Sass styling for the Resume component
 * @author Andrew Jarombek
 * @since 9/8/2018
 */

.jarbek-resume {
  padding-top: 100px;

  display: grid;
  grid-gap: 10px;

  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
          "timeline timeline timeline"
          "prev     content  next";
}

@each $section in 'timeline', 'prev', 'content', 'next' {
  .jarbek-resume-#{$section} {
    grid-area: #{$section};
  }
}

.jarbek-resume-timeline {}

.jarbek-resume-prev {}

.jarbek-resume-content {}

.jarbek-resume-next {}