/**
 * Sass styling for the Resume component
 * @author Andrew Jarombek
 * @since 9/8/2018
 */

@import "./styles/variables";
@import "./styles/mixins/sylexiads";
@import "./styles/mixins/longway";

/* Variables for magic numbers */
$timeline-height-grid: 50px;
$timeline-height-no-grid: 0;
$title-height: 50px;
$content-height: auto;
$tech-height: 50px;

.jarbek-resume {
  padding-top: 100px;
  height: 100vh;
  box-sizing: border-box;

  width: 96vw;
  margin-left: 2vw;
  margin-right: 2vw;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    height: 90vh;
    padding-top: 90px;
  }

  @media screen and (max-width: $width-mobile-small) {
    height: 85vh;
    padding-top: 80px;
  }

  @supports (grid-area: auto) {
    display: grid;
    display: -ms-grid;

    grid-template-areas:
            "timeline timeline timeline"
            ".        title    ."
            "prev     content  next"
            ".        tech     .";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: $timeline-height-grid
                        $title-height
                        $content-height
                        $tech-height;
    -ms-grid-columns: 1fr 8fr 1fr;
    -ms-grid-rows: $timeline-height-grid
                   $title-height
                   $content-height
                   $tech-height;

    @media screen and (min-width: $width-large-desktop) {
      grid-template-rows: $timeline-height-grid
                          calc(#{$title-height} + 15)
                          $content-height
                          calc(#{$tech-height} + 10);
      -ms-grid-rows: $timeline-height-grid
                     calc(#{$title-height} + 15)
                     $content-height
                     calc(#{$tech-height} + 10);
    }
  }

  @supports not (grid-area: auto) {
    display: table;
  }

  @supports (grid-area: auto) {
    @each $section in 'timeline', 'title', 'prev', 'content', 'next', 'tech' {
      .jarbek-resume-#{$section} {
        grid-area: #{$section};
      }
    }
  }

  // IE 9-11
  @media screen and (min-width:0\0) {
    .jarbek-resume-timeline {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 1;
    }

    .jarbek-resume-title {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }

    .jarbek-resume-prev {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    .jarbek-resume-content {
      -ms-grid-column: 2;
      -ms-grid-row: 3;
    }

    .jarbek-resume-next {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }

    .jarbek-resume-tech {
      -ms-grid-column: 2;
      -ms-grid-row: 4;
    }
  }

  .jarbek-resume-title {
    overflow-x: hidden;
    padding-top: 16px;

    @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
      padding-top: 8px;
    }

    @media screen and (max-width: $width-mobile-small) {
      padding-top: 4px;
    }

    @supports (grid-area: auto) {
      position: relative;
    }

    @supports not (grid-area: auto) {
      height: $title-height;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}

.jarbek-resume-title > div {
  position: absolute;
}

@supports (grid-area: auto) {
  .jarbek-resume-title > div {
    width: 100%;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-title > div {
    width: 96%;
  }
}

.jarbek-resume-title-inactive {
  display: none;
}

@supports (grid-area: auto) {
  .jarbek-resume-title-active-right {
    animation: slide-in-from-right 1s;
  }

  .jarbek-resume-title-active-left {
    animation: slide-in-from-left 1s;
  }

  .jarbek-resume-title-just-viewed-left {
    animation: slide-out-left 1s forwards;
  }

  .jarbek-resume-title-just-viewed-right {
    animation: slide-out-right 1s forwards;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-title-just-viewed-right, .jarbek-resume-title-just-viewed-left {
    display: none;
  }
}

.jarbek-resume-title h5 {
  @include sylexiad;
  text-align: center;
  font-size: 42px;

  @media screen and (max-width: $width-large-desktop) and (min-width: $width-mobile + 1) {
    font-size: 32px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 24px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 18px;
  }
}

@supports (grid-area: auto) {
  .jarbek-resume-prev {
    justify-self: start;
    align-self: center;
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-prev {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 5vw;
  }
}

.jarbek-resume-prev img {
  transform: rotate(90deg);

  @media screen and (min-width: $width-large-desktop) {
    height: 60px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    height: 50px;
  }

  @media screen and (max-width: $width-mobile-small) {
    height: 45px;
  }
}

.jarbek-resume-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

@supports (grid-area: auto) {
  .jarbek-resume-content {
    position: relative;
    width: auto;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-content {
    height: 100%;
    width: 90vw;
  }
}

@supports (grid-area: auto) {
  .jarbek-resume-content:before {
    position: fixed;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white 90%);
    width: 100%;
    height: 50px;
    z-index: 1;
    content: "";
    left: 0;

    @media screen and (max-width: $width-mobile) {
      display: none;
    }
  }

  .jarbek-resume-content:after {
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
    width: 100%;
    height: 100px;
    z-index: 1;
    content: "";
    bottom: 50px;
    left: 0;

    @media screen and (max-width: $width-mobile) {
      display: none;
    }
  }
}

.jarbek-resume-content > div {
  @include sylexiad;
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.7px;

  padding-top: 60px;
  padding-bottom: 180px;

  -webkit-overflow-scrolling: touch;
  height: 100%;

  @media screen and (max-width: $width-large-desktop) and (min-width: $width-mobile + 1) {
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 150px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@supports (grid-area: auto) {
  .jarbek-resume-content > div {
    position: absolute;
    box-sizing: border-box;
    overflow-y: scroll;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-content > div {
    height: auto;
  }
}

.jarbek-resume-content > div::-webkit-scrollbar {
  background: transparent;
}

.jarbek-resume-content a {
  @include sylexiad-bold;
  color: #999;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.jarbek-resume-content-inactive {
  display: none;
}

@supports (grid-area: auto) {
  .jarbek-resume-content-active-right {
    animation: slide-in-from-right 1s;
  }

  .jarbek-resume-content-active-left {
    animation: slide-in-from-left 1s;
  }

  .jarbek-resume-content-just-viewed-left {
    // forwards maintains the final animation state after the animation ends
    animation: slide-out-left 1s forwards;
  }

  .jarbek-resume-content-just-viewed-right {
    animation: slide-out-right 1s forwards;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-content-just-viewed-right, .jarbek-resume-content-just-viewed-left {
    display: none;
  }
}

.jarbek-resume-content > div > p {
  margin-bottom: 25px;
}

@supports (grid-area: auto) {
  .jarbek-resume-next {
    justify-self: end;
    align-self: center;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-next {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 5vw;
  }
}

.jarbek-resume-next img {
  transform: rotate(-90deg);

  @media screen and (min-width: $width-large-desktop) {
    height: 60px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    height: 50px;
  }

  @media screen and (max-width: $width-mobile-small) {
    height: 45px;
  }
}

.jarbek-resume-tech {
  @include sylexiad;
  text-align: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 22px;

  @media screen and (max-width: $width-large-desktop) and (min-width: $width-small-desktop + 1) {
    font-size: 18px;
  }

  @media screen and (max-width: $width-small-desktop) and (min-width: $width-mobile + 1) {
    font-size: 16px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 14px;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: scroll;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 12px;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: scroll;
  }
}

@supports (grid-area: auto) {
  .jarbek-resume-tech {
    position: relative;
  }
}

@supports not (grid-area: auto) {
  .jarbek-resume-tech {
    display: none;
  }
}

.jarbek-resume-tech > div {
  position: absolute;
  width: 100%;
}

.jarbek-resume-tech strong {
  @include longway;
  font-size: 24px;

  @media screen and (max-width: $width-large-desktop) and (min-width: $width-small-desktop + 1) {
    font-size: 20px;
  }

  @media screen and (max-width: $width-small-desktop) and (min-width: $width-mobile + 1) {
    font-size: 18px;
  }

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 16px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
  }
}

.jarbek-resume-tech-inactive {
  display: none;
}

@supports (grid-area: auto) {
  .jarbek-resume-tech-active-right {
    animation: slide-in-from-right 1s;
  }

  .jarbek-resume-tech-active-left {
    animation: slide-in-from-left 1s;
  }

  .jarbek-resume-tech-just-viewed-left {
    animation: slide-out-left 1s forwards;
  }

  .jarbek-resume-tech-just-viewed-right {
    animation: slide-out-right 1s forwards;
  }
}

@keyframes slide-in-from-right {
  from {
    margin-left: 100%;
    width: 100%;
    display: none;
  }

  to {
    margin-left: 0;
    width: 100%;
    display: initial;
  }
}

@keyframes slide-in-from-left {
  from {
    right: 100%;
    width: 100%;
    display: none;
  }

  to {
    right: 0;
    width: 100%;
    display: initial;
  }
}

@keyframes slide-out-right {
  from {
    margin-left: 0;
    width: 100%;
    display: initial;
  }

  to {
    margin-left: 100%;
    width: 100%;
    display: none;
  }
}

@keyframes slide-out-left {
  from {
    right: 0;
    width: 100%;
    display: initial;
  }

  to {
    right: 100%;
    width: 100%;
    display: none;
  }
}