/**
 * Sass styling for the Resume component
 * @author Andrew Jarombek
 * @since 9/8/2018
 */

@import "./styles/mixins/sylexiads";
@import "./styles/mixins/longway";

.jarbek-resume {
  padding-top: 100px;
  height: 100vh;
  box-sizing: border-box;

  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

  display: grid;
  grid-gap: 10px;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 50px 50px auto 50px;
  grid-template-areas:
          "timeline timeline timeline"
          ".        title    ."
          "prev     content  next"
          ".        tech     .";
}

@each $section in 'timeline', 'title', 'prev', 'content', 'next', 'tech' {
  .jarbek-resume-#{$section} {
    grid-area: #{$section};
  }
}

.jarbek-resume-timeline {}

.jarbek-resume-title {
  align-self: center;
}

.jarbek-resume-title h5 {
  @include sylexiad;
  text-align: center;
  font-size: 32px;
}

.jarbek-resume-prev {
  justify-self: start;
  align-self: center;
}

.jarbek-resume-prev img {
  transform: rotate(90deg);
}

.jarbek-resume-content {
  width: 100%;
  overflow: auto;
}

.jarbek-resume-content p {
  @include sylexiad;
  font-size: 24px;
  text-align: center;
  white-space: pre;
  line-height: 1.5;
  letter-spacing: 0.7px;

  padding-top: 50px;
  padding-bottom: 150px;
}

.jarbek-resume-next {
  justify-self: end;
  align-self: center;
}

.jarbek-resume-next img {
  transform: rotate(-90deg);
}

.jarbek-resume-tech {
  @include sylexiad;
  text-align: center;
}

.jarbek-resume-tech strong {
  @include longway;
  font-size: 18px;
}