/*
 * Sass styling for the StatisticsGraph component
 * @author Andrew Jarombek
 * @since 9/19/2019
 */

@import "styles/mixins/sylexiads";
@import "styles/variables";

#jarbek-statistics-graph {
  @include sylexiad;
  text-align: center;
  margin-top: 20px;

  h4 {
    font-size: 24px;
    padding-bottom: 5px;

    @media (prefers-color-scheme: dark) {
      color: $color-dark-default;
    }
  }

  h6 {
    font-size: 16px;

    @media (prefers-color-scheme: dark) {
      color: $color-dark-default;
    }
  }

  .jarbek-statistics-graph-updated {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
    color: #aaa;
  }

  .recharts-wrapper {
    @media screen and (max-width: $width-mobile-small) {
      overflow: hidden;
      left: -10px;
    }
  }

  .recharts-legend-wrapper {
    @media screen and (max-width: $width-mobile-small) {
      overflow: hidden;
      left: 60px !important;
    }
  }
}