/*
 * Sass styling for the StatisticsGraph component
 * @author Andrew Jarombek
 * @since 9/19/2019
 */

@import "styles/mixins/sylexiads";

#jarbek-statistics-graph {
  @include sylexiad;
  text-align: center;
  margin-top: 20px;

  .jarbek-statistics-graph-updated {
    text-align: left;
    margin-left: 5%;
    margin-top: 40px;
    color: #aaa;
  }
}