/*
 * Sass styling for the PictureButton component
 * @author Andrew Jarombek
 * @since 5/4/2018
 */

@import "global";

.jarbek-subscribe {
  padding: 20px;
  margin: 10px 0 10px 0;
}

.jarbek-subscribe-title {
  @include sylexiad;
  font-size: 28px;
  text-align: center;
}

.jarbek-divider {
  padding: 15px;
  margin-bottom: 20px;
}

.jarbek-divider div {
  border-bottom: 1px solid $color-default;
}

.jarbek-subscribe-form {
  display: grid;
  grid-template-rows: [email] 20% [first-name] 20% [last-name] 20%
                      [password] 20% [button] 20% [bottom];
  grid-template-columns: [left] 100% [right];
}

.jarbek-input {
  width: 500px;
  height: 45px;
  padding: 5px;
}

.jarbek-input input {
  @include dyslexie;

  width: 94%;
  padding-right: 3%;
  padding-left: 3%;
  height: 40px;

  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.jarbek-input input:focus {
  outline: none;
  border: 1px solid darken($color-secondary, 40%);
}

.jarbek-input input::placeholder {
  color: #bbb;
}

.jarbek-input input[type="email"] {
  // Goes in this order: row-start, column-start, row-end, column-end
  grid-area: email / left / first-name / right;
}

.jarbek-input input[type="first"] {
  grid-area: first-name / left / last-name / right;
}

.jarbek-input input[type="last"] {
  grid-area: last-name / left / password / right;
}

.jarbek-input input[type="password"] {
  grid-area: password / left / button / right;
}

.jarbek-input-submit {
  grid-area: button / left / bottom / right;
  justify-self: center;
  align-self: center;
  padding-top: 30px;
}