/*
 * Sass styling for the Tag component
 * @author Andrew Jarombek
 * @since 4/8/2018
 */

@import "./styles/variables";
@import "styles/mixins/sylexiads";

$neo4j-green: rgba(98, 179, 69, 0.6);
$nodejs-green: rgba(141, 201, 76, 0.6);
$mongodb-green: rgba(98, 172, 82, 0.6);
$vim-green: rgba(69, 153, 53, 0.6);
$bash-green: rgba(162, 253, 146, 0.6);
$javascript-yellow: rgba(240, 219, 79, 0.6);
$ecmascript6-yellow: rgba(247, 223, 30, 0.6);
$babel-yellow: rgba(249, 220, 74, 0.6);
$python-yellow: rgba(249, 239, 180, 0.6);
$travisci-yellow: rgba(242, 238, 174, 0.6);
$apigateway-yellow: rgba(217, 167, 64, 0.6);
$sql-blue: rgba(33, 115, 199, 0.6);
$java-blue: rgba(219, 231, 243, 0.6);
$java8-blue: rgba(244, 247, 249, 0.6);
$c-blue: rgba(168, 185, 204, 0.6);
$typescript-blue: rgba(37, 122, 204, 0.6);
$css-blue: rgba(38, 77, 228, 0.6);
$assembly-blue: rgba(37, 52, 76, 0.6);
$webpack-blue: rgba(157, 186, 232, 0.6);
$react-blue: rgba(97, 218, 250, 0.6);
$groovy-blue: rgba(98, 152, 170, 0.6);
$cpp-blue: rgba(26, 92, 151, 0.6);
$powershell-blue: rgba(89, 150, 240, 0.6);
$docker-blue: rgba(44, 128, 193, 0.6);
$k8s-blue: rgba(50, 109, 230, 0.6);
$php-purple: rgba(118, 122, 179, 0.6);
$jwt-purple: rgba(216, 85, 249, 0.6);
$bootstrap-purple: rgba(85, 39, 76, 0.6);
$terraform-purple: rgba(91, 76, 230, 0.6);
$csharp-purple: rgba(120, 62, 129, 0.6);
$webassembly-purple: rgba(92, 99, 232, 0.6);
$sass-pink: rgba(213, 130, 172, 0.6);
$graphql-pink: rgba(229, 53, 171, 0.6);
$swift-red: rgba(236, 69, 72, 0.6);
$mongoose-red: rgba(157, 56, 56, 0.6);
$gulp-red: rgba(212, 74, 71, 0.6);
$angular-red: rgba(222, 52, 50, 0.6);
$oracle-red: rgba(237, 56, 51, 0.6);
$unicode-red: rgba(255, 229, 229, 0.6);
$html-orange: rgba(239, 101, 55, 0.6);
$rabbitmq-orange: rgba(239, 100, 55, 0.6);
$yaml-orange: rgba(239, 145, 62, 0.6);
$aws-orange: rgba(244, 154, 62, 0.6);
$ec2-orange: rgba(242, 133, 59, 0.6);
$awslambda-orange: rgba(241, 124, 58, 0.6);
$d3-orange: rgba(231, 147, 86, 0.6);
$svg-orange: rgba(238, 174, 90, 0.6);
$jenkins-lightskin: rgba(240, 214, 183, 0.6);
$express-gray: rgba(224, 226, 228, 0.6);
$json-gray: rgba(121, 119, 119, 0.6);
$batch-gray: rgba(206, 215, 220, 0.6);
$haskell-gray: rgba(153, 153, 153, 0.6);
$default: rgba(204, 204, 204, 0.6);

.jarombek-tag-color-neo4j {
  background-color: $neo4j-green;
}

.jarombek-tag-color-nodejs {
  background-color: $nodejs-green;
}

.jarombek-tag-color-mongodb {
  background-color: lighten($mongodb-green, 10%);
}

.jarombek-tag-color-vim {
  background-color: lighten($vim-green, 10%);
}

.jarombek-tag-color-bash {
  background-color: lighten($bash-green, 10%);
}

.jarombek-tag-color-javascript {
  background-color: $javascript-yellow;
}

.jarombek-tag-color-ecmascript6 {
  background-color: $ecmascript6-yellow;
}

.jarombek-tag-color-babel {
  background-color: lighten($babel-yellow, 10%);
}

.jarombek-tag-color-python {
  background-color: $python-yellow;
}

.jarombek-tag-color-travisci {
  background-color: $travisci-yellow;
}

.jarombek-tag-color-apigateway {
  background-color: lighten($apigateway-yellow, 10%);
}

.jarombek-tag-color-sql {
  background-color: $sql-blue;
}

.jarombek-tag-color-webpack {
  background-color: $webpack-blue;
}

.jarombek-tag-color-java {
  background-color: $java-blue;
}

.jarombek-tag-color-java8 {
  background-color: $java8-blue;
}

.jarombek-tag-color-c {
  background-color: lighten($c-blue, 10%);
}

.jarombek-tag-color-typescript {
  background-color: lighten($typescript-blue, 10%);
}

.jarombek-tag-color-css {
  background-color: lighten($css-blue, 10%);
}

.jarombek-tag-color-assembly {
  background-color: lighten($assembly-blue, 10%);
}

.jarombek-tag-color-react {
  background-color: $react-blue;
}

.jarombek-tag-color-groovy {
  background-color: lighten($groovy-blue, 10%);
}

.jarombek-tag-color-cpp {
  background-color: lighten($cpp-blue, 10%);
}

.jarombek-tag-color-powershell {
  background-color: lighten($powershell-blue, 10%);
}

.jarombek-tag-color-docker {
  background-color: lighten($docker-blue, 10%);
}

.jarombek-tag-color-k8s {
  background-color: lighten($k8s-blue, 10%);
}

.jarombek-tag-color-swift {
  background-color: lighten($swift-red, 10%);
}

.jarombek-tag-color-mongoose {
  background-color: lighten($mongoose-red, 10%);
}

.jarombek-tag-color-gulp {
  background-color: lighten($gulp-red, 10%);
}

.jarombek-tag-color-angular {
  background-color: lighten($angular-red, 10%);
}

.jarombek-tag-color-oracle {
  background-color: lighten($oracle-red, 10%);
}

.jarombek-tag-color-unicode {
  background-color: $unicode-red;
}

.jarombek-tag-color-html {
  background-color: lighten($html-orange, 10%);
}

.jarombek-tag-color-rabbitmq {
  background-color: lighten($rabbitmq-orange, 10%);
}

.jarombek-tag-color-yaml {
  background-color: lighten($yaml-orange, 10%);
}

.jarombek-tag-color-aws {
  background-color: lighten($aws-orange, 10%);
}

.jarombek-tag-color-ec2 {
  background-color: lighten($ec2-orange, 10%);
}

.jarombek-tag-color-awslambda {
  background-color: lighten($awslambda-orange, 10%);
}

.jarombek-tag-color-d3 {
  background-color: lighten($d3-orange, 10%);
}

.jarombek-tag-color-svg {
  background-color: lighten($svg-orange, 10%);
}

.jarombek-tag-color-jenkins {
  background-color: $jenkins-lightskin;
}

.jarombek-tag-color-php {
  background-color: lighten($php-purple, 10%);
}

.jarombek-tag-color-jwt {
  background-color: lighten($jwt-purple, 10%);
}

.jarombek-tag-color-bootstrap {
  background-color: lighten($bootstrap-purple, 10%);
}

.jarombek-tag-color-terraform {
  background-color: lighten($terraform-purple, 10%);
}

.jarombek-tag-color-csharp {
  background-color: lighten($csharp-purple, 10%);
}

.jarombek-tag-color-webassembly {
  background-color: lighten($webassembly-purple, 10%);
}

.jarombek-tag-color-sass {
  background-color: lighten($sass-pink, 10%);
}

.jarombek-tag-color-graphql {
  background-color: lighten($graphql-pink, 10%);
}

.jarombek-tag-color-express {
  background-color: $express-gray;
}

.jarombek-tag-color-json {
  background-color: lighten($json-gray, 10%);
}

.jarombek-tag-color-batch {
  background-color: lighten($batch-gray, 10%);
}

.jarombek-tag-color-haskell {
  background-color: $haskell-gray;
}

.jarombek-tag-color-default {
  background-color: $default;
}

.jarombek-tag {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jarombek-tag div {

  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.1);

  transition: all .4s ease;
}

.jarombek-tag:hover {

  &:hover div {
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.5);
  }

  &:hover div .jarombek-tag-name {
    color: black;
  }
}

.jarombek-tag-small div {
  height: 40px;

  @media screen and (max-width: $width-mobile-small) {
    height: 35px;
  }
}

@supports (grid-area: auto) {
  .jarombek-tag-small div {
    display: grid;
  }
}

@supports not (grid-area: auto) {
  .jarombek-tag-small div {
    display: table;

    p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@supports (grid-area: auto) {
  .jarombek-tag-large div {
    display: grid;
    grid-template-rows: [top] 100% [bottom];
    grid-template-columns: [image] 40px [label] calc(100% - 39px) [end];
  }
}

@supports not (grid-area: auto) {
  .jarombek-tag-large div {
    display: table;
  }
}

.jarombek-tag-picture {
  height: 40px;
  max-width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    height: 30px;
    max-width: 35px;
  }

  @media screen and (max-width: $width-mobile-small) {
    height: 25px;
    max-width: 30px;
  }
}

@supports (grid-area: auto) {
  .jarombek-tag-picture {
    // Goes in this order: row-start, column-start, row-end, column-end
    grid-area: top / image / bottom / label;
    justify-self: center;
    align-self: center;
  }
}

@supports not (grid-area: auto) {
  .jarombek-tag-picture {
    display: table-cell;
    vertical-align: middle;
  }
}

.jarombek-tag-name {
  @include sylexiad;
  color: #333;
  border-left: transparent 2px;

  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}

@supports (grid-area: auto) {
  .jarombek-tag-name {
    justify-self: center;
  }
}

@supports not (grid-area: auto) {
  .jarombek-tag-name {
    display: table-cell;
    vertical-align: middle;
  }
}

.jarombek-tag-small .jarombek-tag-name {
  @media screen and (max-width: $width-mobile-small) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.jarombek-tag-large .jarombek-tag-name {
  @media screen and (max-width: $width-mobile-small) {
    padding-left: 0;
    padding-right: 10px;
  }
}

// Give jarombek-tag-name a grid location if the tag is large (with a picture)
.jarombek-tag-large div p {
  font-size: 24px;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 18px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
  }
}

@supports (grid-area: auto) {
  .jarombek-tag-large div p {
    grid-area: top / label / bottom / end;
  }
}

.jarombek-tag-small div p {
  font-size: 18px;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 16px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 14px;
  }
}