/*
 * Sass styling for the Tag component
 * @author Andrew Jarombek
 * @since 4/8/2018
 */

@import "global";

$neo4j-green: rgba(98, 179, 69, 0.6);
$nodejs-green: rgba(141, 201, 76, 0.6);
$mongodb-green: rgba(98, 172, 82, 0.6);
$vim-green: rgba(69, 153, 53, 0.6);
$javascript-yellow: rgba(240, 219, 79, 0.6);
$ecmascript6-yellow: rgba(247, 223, 30, 0.6);
$babel-yellow: rgba(249, 220, 74, 0.6);
$python-yellow: rgba(249, 239, 180, 0.6);
$sql-blue: rgba(33, 115, 199, 0.6);
$java-blue: rgba(219, 231, 243, 0.6);
$java8-blue: rgba(244, 247, 249, 0.6);
$c-blue: rgba(168, 185, 204, 0.6);
$swift-red: rgba(236, 69, 72, 0.6);
$mongoose-red: rgba(157, 56, 56, 0.6);
$gulp-red: rgba(212, 74, 71, 0.6);
$php-purple: rgba(118, 122, 179, 0.6);
$express-gray: rgba(224, 226, 228, 0.6);
$default: rgba(204, 204, 204, 0.6);

.jarombek-tag-color-neo4j {
  background-color: $neo4j-green;
}

.jarombek-tag-color-nodejs {
  background-color: $nodejs-green;
}

.jarombek-tag-color-mongodb {
  background-color: lighten($mongodb-green, 10%);
}

.jarombek-tag-color-vim {
  background-color: lighten($vim-green, 10%);
}

.jarombek-tag-color-javascript {
  background-color: $javascript-yellow;
}

.jarombek-tag-color-ecmascript6 {
  background-color: $ecmascript6-yellow;
}

.jarombek-tag-color-babel {
  background-color: lighten($babel-yellow, 10%);
}

.jarombek-tag-color-python {
  background-color: $python-yellow;
}

.jarombek-tag-color-sql {
  background-color: $sql-blue;
}

.jarombek-tag-color-java {
  background-color: $java-blue;
}

.jarombek-tag-color-java8 {
  background-color: $java8-blue;
}

.jarombek-tag-color-c {
  background-color: lighten($c-blue, 10%);
}

.jarombek-tag-color-swift {
  background-color: lighten($swift-red, 10%);
}

.jarombek-tag-color-mongoose {
  background-color: lighten($mongoose-red, 10%);
}

.jarombek-tag-color-gulp {
  background-color: lighten($gulp-red, 10%);
}

.jarombek-tag-color-php {
  background-color: lighten($php-purple, 10%);
}

.jarombek-tag-color-express {
  background-color: $express-gray;
}

.jarombek-tag-color-default {
  background-color: $default;
}

.jarombek-tag {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jarombek-tag div {
  display: grid;
  grid-template-rows: [top] 100% [bottom];
  grid-template-columns: [image] 40px [label] calc(100% - 40px) [end];

  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(170, 170, 170, 0.1);

  transition: all .4s ease;
}

.jarombek-tag:hover {

  &:hover div {
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.5);
  }

  &:hover div .jarombek-tag-name {
    color: black;
  }
}

.jarombek-tag figure {
  // background-color: white;
}

.jarombek-tag-picture {
  height: 40px;
  max-width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;

  // Goes in this order: row-start, column-start, row-end, column-end
  grid-area: top / image / bottom / label;
  justify-self: center;
  align-self: center;
}

.jarombek-tag-name {
  @include sylexiad;
  color: #333;
  border-left: transparent 2px;
  font-size: 24px;

  grid-area: top / label / bottom / end;
  justify-self: center;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}