/**
 * Sass styling for the Timeline component
 * @author Andrew Jarombek
 * @since 9/8/2018
 */

@import "./styles/variables";
@import "./styles/mixins/longway";

$circle-dimension: 30px;
$circle-dimension-mobile: 28px;
$circle-dimension-mobile-small: 25px;

.jarbek-timeline {
  width: 100%;
  margin-left: -45px;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    margin-left: -30px;
  }

  @media screen and (max-width: $width-mobile-small) {
    margin-left: -25px;
  }
}

.jarbek-timeline > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);

  justify-content: center;
  align-content: center;

  width: 100%;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    grid-template-columns: repeat(auto-fit, 90px);
  }

  @media screen and (max-width: $width-mobile-small) {
    grid-template-columns: repeat(auto-fit, 70px);
  }
}

.jarbek-timeline-section {
  display: grid;
  grid-template-areas:
          "line point"
          ".    label";
  grid-template-columns: 9fr 1fr;
}

.jarbek-timeline-point {
  grid-area: point;
  background-color: $color-default;
  width: $circle-dimension;
  height: $circle-dimension;

  border-radius: 50%;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    width: $circle-dimension-mobile;
    height: $circle-dimension-mobile;
  }

  @media screen and (max-width: $width-mobile-small) {
    width: $circle-dimension-mobile-small;
    height: $circle-dimension-mobile-small;
  }
}

.jarbek-timeline-point-active {
  background-color: $color-secondary;
  box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
  animation: activate 1s;
}

.jarbek-timeline-point-inactive {
  animation: deactivate 0.5s;
}

.jarbek-timeline-line {
  grid-area: line;
  background-color: $color-default;
  height: 5px;
  margin-right: -5px;
  align-self: center;
}

.jarbek-timeline-line-active {
  background-color: $color-secondary;
  height: 7px;
  box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
  animation: activate 0.5s;
}

.jarbek-timeline-line-inactive {
  animation: deactivate 1s;
}

.jarbek-timeline-label {
  @include longway;
  grid-area: label;
  text-align: center;

  @media screen and (max-width: $width-mobile) and (min-width: $width-mobile-small + 1) {
    font-size: 12px;
  }

  @media screen and (max-width: $width-mobile-small) {
    font-size: 10px;
  }
}

@keyframes activate {
  0% {
    background-color: $color-default;
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }

  100% {
    background-color: $color-secondary;
    box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
  }
}

@keyframes deactivate {
  0% {
    background-color: $color-secondary;
    box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
  }

  100% {
    background-color: $color-default;
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
}