/**
 * Sass styling for the Timeline component
 * @author Andrew Jarombek
 * @since 9/8/2018
 */

@import "./styles/variables";

$circle-dimension: 30px;

.jarbek-timeline {
  width: 100%;
  margin-left: -45px;
}

.jarbek-timeline-first-section {

}

.jarbek-timeline > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);

  justify-content: center;
  align-content: center;

  width: 100%;
}

.jarbek-timeline-section {
  display: grid;
  grid-template-areas: "line point";
  grid-template-columns: 9fr 1fr;
}

.jarbek-timeline-point {
  background-color: $color-default;
  width: $circle-dimension;
  height: $circle-dimension;

  border-radius: 50%;
}

.jarbek-timeline-point-active {
  background-color: $color-secondary;
  box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
}

.jarbek-timeline-line {
  background-color: $color-default;
  height: 5px;
  margin-right: -5px;
  align-self: center;
}

.jarbek-timeline-line-active {
  background-color: $color-secondary;
  height: 7px;
  box-shadow: 0 1px 8px rgba(135, 255, 223, 0.8);
}